{# Template for the people page #}

{% extends "base.html" %}

{% block content %}
    <h1>People</h1>
    <div id="card_list">
        <!-- Cards -->
        {% for person in page.subpages %}
        <div class="card">
            <div>
                <img src="http://www.gravatar.com/avatar/{{ person.gravatar }}?s=50&d=http%3A%2F%2Fcascadegameforge.com%2Fimg%2Fbit_qblock50.png" >
                <h2><a href="{{ person.website }}" target="_blank">{{ person.title }}</a></h2>
            </div>
            <ul>
                {% if person.github %}
                <li>Github: <a href="https://github.com/{{ person.twitter }}" target="_blank">{{ person.github }}</a></li>
                {% endif %}
                {% if person.twitter %}
                <li>Twitter: <a href="http://twitter.com/{{ person.twitter }}" target="_blank">@{{ person.twitter }}</a></li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}