{# Template for the people page #}

{% extends "base.html" %}

{% block content %}
    <h1>People</h1>
    <div id="card_list">
        <!-- Cards -->
        <div class="card">
            <div>
                <img src="http://www.gravatar.com/avatar/dasdasdasdasdasd?s=50&d=http%3A%2F%2Fcascadegameforge.com%2Fimg%2Fbit_qblock50.png" >
                <h2><a href="http://cargocollective.com/gaponoff" target="_blank">Aaron Gaponoff</a></h2>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="http://www.gravatar.com/avatar/3fa18554668892eed7f5bbf1ff3b8438?s=50&d=http%3A%2F%2Fcascadegameforge.com%2Fimg%2Fbit_qblock50.png" >
                <h2><a href="http://phillipspiess.com" target="_blank">Phill Spiess</a></h2>
            </div>
            <ul>
                <li>github: <a href="https://github.com/Pfhreak" target="_blank">Pfhreak</a></li>
                <li>twitter:<a href="http://twitter.com/Pfhreak" target="_blank">@Pfhreak</a></li>
            </ul>
        </div>
    </div>
    Some content
{% endblock %}