body {
  background-image: url("/img/debut_light.png");
}

header {
    text-align: center;
    padding-bottom: 20px;
}

#banner {
  margin-bottom: 24px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oldenburg', cursive;
  color: #332A23;
}

h1 {
  -moz-text-shadow: -1px 1px 1px #E6683F;
  -webkit-text-shadow: -1px 1px 1px #E6683F;
  text-shadow: -1px 1px 1px #E6683F;
}

/* Nav */
nav {
  padding-left: 8px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline;
  font-family: 'Oldenburg', cursive;
  margin: 0 8px;
}
nav ul li a:link {
  color: #332A23;
  font-size: 1.5em;
}
nav ul li a:visited {
  color: #332A23;
  font-size: 1.5em;
}
nav ul li a:hover {
  color: #E6683F;
  font-size: 1.5em;
}
nav ul li a:active {
  color: #E6683F;
  font-size: 1.5em;
}
nav ul img {
  vertical-align: middle;
  padding-bottom: 8px;
}

/* People */
#card_list {
  text-align: center;
}
.card {
  text-align: left;
  display: inline-block;
  margin: 1em 1em;
  padding: 12px;
  width: 300px;
  height: 180px;
  background-color: #fff;
  -moz-box-shadow: 1px 3px 3px #666;
  -webkit-box-shadow: 1px 3px 3px #666;
  box-shadow: 1px 3px 3px #666;
}
.card img {
  float: left;
  -moz-box-shadow: 1px 1px 3px #666;
  -webkit-box-shadow: 1px 1px 3px #666;
  box-shadow: 1px 1px 3px #666; 
}
.card h2 {
  float: left;
  vertical-align: middle;
  line-height: 50px;
  font-size: 1.65em;
  margin-left: 0.5em;
  -moz-box-shadow: 1px 1px 1px #666;
  -webkit-box-shadow: 1px 1px 1px #666;
  box-shadow: 1px 1px 1px #666;
}
.card ul {
  clear: left;
  float: left;
}
.card a:link {
  color: #332A23;
  font-size: 1.0em;
  border-bottom: 1px dotted #000;
}
.card a:visited {
  color: #332A23;
  font-size: 1.0em;
  border-bottom: 1px dotted #000;
}
.card a:hover {
  color: #E6683F;
  font-size: 1.0em;
  border-bottom: 1px dotted #E6683F;
}
.card a:active {
  color: #E6683F;
  font-size: 1.0em;
  border-bottom: 1px dotted #E6683F;
}
.card ul {
  list-style-type: disc;
  display: block;
  -webkit-padding-start: 40px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  
}
.card li {
  margin-bottom: 8px;
}
/* Content */
#content {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Adamina', serif;
}