body {
  background-image: url("/img/debut_light.jpg");
}

header {
    text-align: center;
    padding-bottom: 20px;
}

a {
  text-decoration: none;
}

a,
h1,
h2,
h3,
h4 {
  color: #161001;
}
h1,
h2 {
  -moz-text-shadow: 0px 1px 2px #666;
  -webkit-text-shadow: 0px 1px 2px #666;
  text-shadow: 0px 1px 2px #666;
}
h2 {
  margin-top: 1.1em;
}

/* Nav */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline;
  margin: 0 8px;
}
nav ul li a:link {
  color: #f6f4cd;
  font-size: 1.5em;
}
nav ul li a:visited {
  color: #f6f4cd;
  font-size: 1.5em;
}
nav ul li a:hover {
  text-transform: uppercase;
}
nav ul li a:active {
  text-transform: uppercase;
}

/* Content */
#content {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}