body {
  background-image: url("/img/debut_light.png");
}

header {
    text-align: center;
    padding-bottom: 20px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oldenburg', cursive;
  color: #332A23;
}

h1,
h2 {
  -moz-text-shadow: -1px 1px 1px #E6683F;
  -webkit-text-shadow: -1px 1px 1px #E6683F;
  text-shadow: -1px 1px 1px #E6683F;
}

/* Nav */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline;
  font-family: 'Oldenburg', cursive;
  margin: 0 8px;
}
nav ul li a:link {
  color: #332A23;
  font-size: 1.5em;
}
nav ul li a:visited {
  color: #332A23;
  font-size: 1.5em;
}
nav ul li a:hover {
  color: #E6683F;
  font-size: 1.5em;
}
nav ul li a:active {
  color: #E6683F;
  font-size: 1.5em;
}

/* Content */
#content {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}